@font-face {
    font-family: 'Danfo';
    src: url('../fonts/Danfo-Regular-VariableFont_ELSH.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TitanOne';
    src: url('../fonts/TitanOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Smoke';
    src: url('../fonts/Smokum-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}